autorandr
autostart
chromium
clipit
compton.conf
configstore
cura
dconf
dmenu-recent
dunst
enchant
epdfview
gconf
gedit
GIMP
gtk-2.0
gtk-3.0
hexchat
htop
i3-scrot.conf
kitty
Kvantum
lazygit
manjaro-hello.json
matplotlib
mimeapps.list
morc_menu
Mousepad
mpv
nitrogen
nvim.bak
pamac
polybar
powerline-shell
procps
pulse
qt5ct
QtProject.conf
qupzilla
qutebrowser
ranger
rofi
user-dirs.dirs
user-dirs.locale
viewnior
VirtualBox
volumeicon
xarchiver
xfce4
yay
zoom.conf
zoomus.conf
